* {
    margin: 0;
}

.main-post-comp {
    margin-bottom: 30px;
    display: flex;
}

.post-second-section {
    flex: 1;
}

.post-content {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-reaction-div {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.reaction-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction-icon-div {
  height: 30px;
  width: 30px;
}

.reaction-icon {
  height: 30px;
  width: 30px;  
}

.reaction-stats-div {
}

.reaction-stats-div p {
  font-size: 23px;
  font-weight: 700;
}

.post-content {
  font-size: 30px;
}

.img__wrapper {
  position: relative;
}
.delete-blog-div {
  border: 1px solid green;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.delete-blog-div button {
  padding: 10px 20px;
  font-weight: 600;
}
