.blog-post-main-div {
  border: 2px solid grey;
  height: 200px;
  padding: 25px;
  border-radius: 10px;
}

.blog-post-main-div .blog-post {
  border: 1px solid grey;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-container p {
  font-size: 15px;
  text-align: end;
  margin-top: 10px;
}
