* {
    margin: 0;
}

p {
  font-weight: 600;
}

.left-ui {
    border-right: 3px solid #F69A10;
    height: 100vh;
    position: fixed;
    background-color: white;
    width: 250px;
}

.left-ui-user-info {
    border-bottom: 3px solid #F69A10;
}

.left-ui-user-info1,
.left-ui-user-info2,
.left-ui-user-info3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-ui-user-info1 {
    justify-content: left;
}

.left-ui-user-info2,
.left-ui-user-info3 {
  font-size: 20px;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.left-ui-nav {
    height: 100%;
    width: 100%;
}

.left-ui-nav {
  font-size: 25px;
}

.left-ui-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.left-ui-nav ul li {
    text-decoration: none;
    color: initial;
    margin-top: 30px;
}

.left-ui-nav ul li a{
    text-decoration: none;
    color: initial;
}

.link-info {
    margin-left: 30px;
}

.nav-icon-div {
  width: 50px;
  height: 50px;
}

.nav-icon-image {
  height: 100%;
  width: 100%;
}
.logout-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-icon-div {
  margin-right: 30px;
}

.logout-list-item p {
  font-weight: 500;
}
